.react-polygon-bounding-box {
  position: relative;
}

.react-polygon-image-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.react-polygon-crop-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.react-polygon-final-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
